* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    background-color: #6C77C7;
}
.container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 1fr 1fr 100px;
    grid-template-areas: 
                        'menu menu menu'
                        'fundo fundo fundo'
                        'conteudo conteudo conteudo'
                        'rodape rodape rodape';
}
.menu{
    display: grid;
    width: 100%;
    grid-area:menu;
    background-color: #04094A;
    padding: 10px 20px;
    justify-content: stretch;

}

.centro{
    max-width: 1280px;
    margin: 0 auto;
}
.escudo{
    height: auto;
    width: 100px;
}
.logobrasil{
    height: auto;
    width: 100px;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}
.menu li{
    list-style: none;
}
.menu a{
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}
.menu a:hover{
    background-color: #6C77C7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.fundo{
    display: grid;
    grid-area: fundo;
    background-image: url(imagens/fundo.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    min-height: 500px;
}
.fundo a{
    background-color: #1524B6;
    padding: 20px;
    margin: 40px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 1);
}
.fundo a:hover{
    background-color: #04094A;
}
.conteudo{
    display: grid;
    grid-area: conteudo;
    display: flex;
    flex-direction: column ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
}
.artigos {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  
    text-align: center;
}

.artigos article {
    background-color: #EBEBEB;
    border: 2px solid black; 
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artigos img {
    max-width: 300px;
    height: auto;
}
.centralizar img{
    margin-top: 30px;
    width: 100px;
}
.artigos h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.artigos a {
    background-color: #1524B6;
    color: white;
    padding: 10px 15px;
    border-radius: 10px; 
    text-decoration: none; 
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: auto;
}

.artigos a:hover {
    background-color: #04094A; 
}

.novascontr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ja h2{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 50px;
    margin-top: 50px;
    align-items: center;
}
.bone1 img{
    border: 2px solid black;
    margin: 40px 0;
}
.jogadores1 {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 20px; 
    justify-content: center;
}

.jogador1 {
    text-align: center;
    width: 80px;
    margin-top: 30px; 
}

.jogador1 img {
    min-width: 120px;
    height: auto;
    border-radius: 10px;
}

.jogador1 p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.centralizar img{
    margin-top: 30px;
    min-width: 320px;
}
.conteudo a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 1);
}
.rodape {
    grid-area: rodape;
    background-color: #0a0f43;
    padding: 20px;
   
}
.logo-adidas {
    height: 80px; 
    width: auto;
}
.logo-betfair {
    height: 40px;
    width: auto;
}
.logo-marcas {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
}
.logo-redesocial {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;  
}
.rodape .logo-redesocial a {
    margin-right: 10px;
}
.rodape img {
    object-fit: contain;
}
.container2{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 100px;
    grid-template-areas: 
                        'menu'
                        'historia'
                        'rodape';
}
.historia {
    display: grid;
    grid-area: historia;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #6C77C7;
    padding: 40px 40px; 
    color: white;  
    margin: 20px 300px;  
    border-radius: 10px;  
}

.historia h1 {
    font-size: 48px;
    margin-bottom: 20px; 
    font-weight: bold;
}

.historia p {
    font-size: 18px;
    line-height: 1.6; 
    margin-bottom: 15px; 
    text-align: justify; 
}
.b_historia {
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    background-color: #1524B6;
}
.logos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
   
}
.container3{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 100px;
    grid-template-areas: 
                        'menu'
                        'equipe'
                        'rodape';
}
.equipe {
    grid-area: equipe;
    padding: 50px;
    background-color: #464c87;
}

.equipe h1 {
    color: white;
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}
.equipe h2{
    color: white;
    font-size: 36px;
    margin: 30px auto;
    justify-content: start;
}
.jogadores {
    display: grid;
    gap: 10px;
    justify-items: center;
    min-width: 100%;
}

.jogador {
    border: 2px solid black;
    background-color: #EBEBEB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    justify-content: space-around;
}

.jogador img {
    width: 100%;
    object-fit: cover;
    display: grid;
}

.nome-jogador  {
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #04094A;
}
.goleiros{
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap: 30px;
}
.zagueiros{
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap: 30px;

}
.volantes{
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap: 30px;
}
.meias{
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap: 30px;
}
.atacantes{
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap: 30px;
}
.laterais{
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap: 30px;
}
.tecnicos{
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap: 30px;
}
.container4{
        display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 1fr 100px;
        grid-template-areas: 
                            'menu'
                            'jogos'
                            'rodape';
}
.jogos{
    grid-area: jogos;
}
.b_jogos {
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    background-color: #EAF0F8;
}
.jogos{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    align-content: center;
    gap: 30px;
    margin: 30px auto;
}
.placar {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.texto p {
    margin: 5px 0 20px;
    font-size: 18px;
    color: #555;
}

.partida {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.gols {
    font-size: 32px;
    font-weight: bold;
}

.divisor {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.rodape1 p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
.container5{
        display: grid;
        height: 100vh;
        grid-template-rows: 90px 1fr 100px;
        grid-template-areas: 
                            'menu'
                            'contato'
                            'rodape';
}
.contato {
    display: grid;
    grid-area: contato;
    background-color: #1524B6;
    color: white;
    padding: 50px 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.contato .centro {
    max-width: 1200px;
    margin: 0 auto;
}

.contato h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contato p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}
.layout-contato {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
.informacoes-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.contato-detalhes {
    background-color: #6C77C7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.contato-detalhes h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contato-detalhes p {
    font-size: 16px;
    margin-bottom: 10px;
}

.simulacao-formulario {
    background-color: #6C77C7;
    padding: 30px;
    border-radius: 10px;
    flex: 1;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.simulacao-formulario h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-simulacao {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-fake,
.textarea-fake,
.botao-fake {
    background-color: white;
    color: #333;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.input-fake {
    height: 40px;
}

.textarea-fake {
    height: 80px;
}

.botao-fake {
    background-color: #1524B6;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-fake:hover {
    background-color: #04094A;
}
.container6 {
    display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 1fr 100px;
        grid-template-areas: 
                            'menu'
                            'compra'
                            'rodape';   
}

.loja {
    padding: 20px;
    grid-area: compra;
}
.produtos{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
}
.produto {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    text-align: center;
    margin: 20px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.titulo-produto {
    font-size: 1rem;
    color: #333;
    margin-bottom: 16px;
}

.imagens-produto img {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 5px;
}
.bone img{
    width: 200px;
    height: 100px;
}
.preco {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin: 10px 0;
}

.link-comprar {
    display: inline-block;
    background-color: #4a76f0;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.link-comprar:hover {
    background-color: #355bbd;
}



